html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.page-footer {
    grid-row-start: 3;
    grid-row-end: 4;
    height: 70px;
}